@import url("../../webfonts/fontawesome/css/all.css");
@font-face {
  font-display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../webfonts/sans/roboto.ttf");
}
@font-face {
  font-display: block;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../webfonts/sans/ubuntu.ttf");
}
@font-face {
  font-display: block;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../webfonts/sans/helvetica.ttf");
}
.font\:arial {
  font-family: Arial;
}

.font\:calibri {
  font-family: Calibri;
}

.font\:monospace {
  font-family: monospace;
}

.font\:sans {
  font-family: sans;
}

.font\:sans-serif {
  font-family: sans-serif;
}

.font\:verdana {
  font-family: verdana, sans-serif;
}

.font\:tahoma {
  font-family: Tahoma, sans-serif;
}

.font\:geneva {
  font-family: Geneva, sans-serif;
}

.font\:segoeui {
  font-family: 'Segoe UI', sans-serif;
}

.font\:timesnroman {
  font-family: "Times New Roman";
}

.font\:times {
  font-family: Times;
}

.font\:serif {
  font-family: serif;
}

.font\:helvetica {
  font-family: Helvetica, sans-serif;
}

.font\:roboto {
  font-family: Roboto, sans-serif;
}

.font\:ubuntu {
  font-family: Ubuntu, sans-serif;
}

.font\:safe-fonts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fs-1 {
  font-size: calc(1.375em + 1.5vw);
}

.active\:fs-1:active,
.focus\:fs-1:focus,
.hover\:fs-1:hover {
  font-size: calc(1.375em + 1.5vw);
}

.fs-2 {
  font-size: calc(1.375em + 0.9vw);
}

.active\:fs-2:active,
.focus\:fs-2:focus,
.hover\:fs-2:hover {
  font-size: calc(1.375em + 0.9vw);
}

.fs-3 {
  font-size: calc(1.375em + 0.6vw);
}

.active\:fs-3:active,
.focus\:fs-3:focus,
.hover\:fs-3:hover {
  font-size: calc(1.375em + 0.6vw);
}

.fs-4 {
  font-size: calc(1.375em + 0.3vw);
}

.active\:fs-4:active,
.focus\:fs-4:focus,
.hover\:fs-4:hover {
  font-size: calc(1.375em + 0.3vw);
}

.fs-5 {
  font-size: calc(1.375em + 0.2vw);
}

.active\:fs-5:active,
.focus\:fs-5:focus,
.hover\:fs-5:hover {
  font-size: calc(1.375em + 0.2vw);
}

.fs-6 {
  font-size: calc(1.375em + 0.1vw);
}

.active\:fs-6:active,
.focus\:fs-6:focus,
.hover\:fs-6:hover {
  font-size: calc(1.375em + 0.1vw);
}

.xx-small {
  font-size: xx-small;
}

.active\:xx-small:active,
.focus\:xx-small:focus,
.hover\:xx-small:hover {
  font-size: xx-small;
}

.x-small {
  font-size: x-small;
}

.active\:x-small:active,
.focus\:x-small:focus,
.hover\:x-small:hover {
  font-size: x-small;
}

.small {
  font-size: small;
}

.active\:small:active,
.focus\:small:focus,
.hover\:small:hover {
  font-size: small;
}

.medium {
  font-size: medium;
}

.active\:medium:active,
.focus\:medium:focus,
.hover\:medium:hover {
  font-size: medium;
}

.large {
  font-size: large;
}

.active\:large:active,
.focus\:large:focus,
.hover\:large:hover {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

.active\:x-large:active,
.focus\:x-large:focus,
.hover\:x-large:hover {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.active\:xx-large:active,
.focus\:xx-large:focus,
.hover\:xx-large:hover {
  font-size: xx-large;
}

.smaller {
  font-size: smaller;
}

.active\:smaller:active,
.focus\:smaller:focus,
.hover\:smaller:hover {
  font-size: smaller;
}

.larger {
  font-size: larger;
}

.active\:larger:active,
.focus\:larger:focus,
.hover\:larger:hover {
  font-size: larger;
}

q.qs-1::before, q.qs-1::after {
  font-size: calc(1.375em + 1.5vw);
  line-height: normal;
}

q.qs-2::before, q.qs-2::after {
  font-size: calc(1.375em + 0.9vw);
  line-height: normal;
}

q.qs-3::before, q.qs-3::after {
  font-size: calc(1.375em + 0.6vw);
  line-height: normal;
}

q.qs-4::before, q.qs-4::after {
  font-size: calc(1.375em + 0.3vw);
  line-height: normal;
}

q.qs-5::before, q.qs-5::after {
  font-size: calc(1.375em + 0.2vw);
  line-height: normal;
}

q.qs-6::before, q.qs-6::after {
  font-size: calc(1.375em + 0.1vw);
  line-height: normal;
}

.fw-100 {
  font-weight: 100;
}

.active\:fw-100:active,
.focus\:fw-100:focus,
.hover\:fw-100:hover {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.active\:fw-200:active,
.focus\:fw-200:focus,
.hover\:fw-200:hover {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.active\:fw-300:active,
.focus\:fw-300:focus,
.hover\:fw-300:hover {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.active\:fw-400:active,
.focus\:fw-400:focus,
.hover\:fw-400:hover {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.active\:fw-500:active,
.focus\:fw-500:focus,
.hover\:fw-500:hover {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.active\:fw-600:active,
.focus\:fw-600:focus,
.hover\:fw-600:hover {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.active\:fw-700:active,
.focus\:fw-700:focus,
.hover\:fw-700:hover {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.active\:fw-800:active,
.focus\:fw-800:focus,
.hover\:fw-800:hover {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.active\:fw-900:active,
.focus\:fw-900:focus,
.hover\:fw-900:hover {
  font-weight: 900;
}

.oblic {
  font-style: oblic;
}

.active\:oblic:active,
.focus\:oblic:focus,
.hover\:oblic:hover {
  font-style: oblic;
}

.italic {
  font-style: italic;
}

.active\:italic:active,
.focus\:italic:focus,
.hover\:italic:hover {
  font-style: italic;
}

.code, .monospace {
  font-family: consolas, monospace;
  font-size: 97.3%;
}

/*# sourceMappingURL=typography.css.map */
